
.hero-title {
  font-family: "Jenson", cursive;
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 69, 0);
  margin-bottom: 3rem;
}

.selling-points {
  border-top: 1.75rem solid rgba(169, 169, 169, 0.75);
  border-radius: 50%;
  color: rgb(30, 144, 255);
}

.point-title, .point-description {
  text-align: center;
  color: blue;
}

.point-description {
  font-family: "Jenson", cursive;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(30, 144, 255);
}

.point-title {
  font-size: 1.75rem;
  font-family: "Francois One", sans-serif;
  color: rgb(30, 144, 255);
}

.point.one {
  background-color: rgba(236, 248, 255, 0.77);
  border-left: .75rem solid rgba(230, 174, 47, .5);
  border-top: .75rem solid rgba(230, 174, 47, .5);
  border-right: .75rem solid rgb(230, 174, 47);
  border-bottom: .25rem solid rgb(230, 174, 47);
  color: rgb(30, 144, 255);
}

.point.two {
  background-color: rgba(236, 248, 255, 0.77);
  border-left: .75rem solid rgba(239, 125, 44 , .5);
  border-right: .75rem solid rgb(239, 125, 44);
  border-bottom: .5rem solid rgb(239, 125, 44);
  color: rgb(30, 144, 255);
}

.point.three {
  background-color: rgba(236, 248, 255, 0.77);
  border-left: .75rem solid rgba(255, 108, 108, .5);
  border-bottom: .75rem solid rgb(255, 108, 108);
  border-right: .75rem solid rgb(255, 108, 108);
  color: rgb(30, 144, 255);
}
