@import url('https://fonts.googleapis.com/css?family=Tangerine');

.app-title {
  font-family: Tangerine, serif;
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 69, 0);
  margin-top: 2rem;
}

nav {
  background: rgb(195, 227, 243);
  margin-top: .75rem;
  text-align: center;
}

.main-content {
  margin-top: 1rem;
  background-color: grey;
}

#nav-landing, #nav-library {
  color: rgb(228, 80, 106);
}

a:link, a:visited {
  text-decoration: none;
}

#nav-landing:hover, #nav-library:hover {
  text-decoration: none;
  color: rgb(255, 108, 108);
}

a:active {
  text-decoration: none;
}

